@font-face {
    font-family: "SF-Compact-Rounded-Bold";
    src: url("../fonts/SF-Compact-Rounded-Bold.otf");
  }
@font-face {
    font-family: "SF-Compact-Rounded-Light";
    src: url("../fonts/SF-Compact-Rounded-Light.otf");
  }
  @font-face {
    font-family: "SF-Compact-Rounded-Regular";
    src: url("../fonts/SF-Compact-Rounded-Regular.otf");
  }
  @font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url("../fonts/SF-Compact-Rounded-Medium.otf");
  }

h4{
    font-family: "SF-Compact-Rounded-Bold";
    font-size: 20px;
    color:#4B5320;
}
h1{
   font-family: "SF-Compact-Rounded-Medium";
    font-size: 30px;

}
.mobile-logo{
    display: none;
}
header{
    background-color: #4B5320;
    width: 100%;
    height:84px;
    display: flex;
    align-items: center;
    z-index: 1000;
}
a{
    font-family:"SF-Compact-Rounded-Regular";
    color: white;
    text-decoration: none;
}
.contact a{
    color: #4B5320 ;
    font-size: 20px;
}
.contact a:hover{
    color: #99A06F;
    font-size: 20px;
    cursor: pointer;
}
a:hover{
    color:#99A06F;
    cursor: pointer;
}
.photo{
    height: 410px;
    background-image: url("../images/Vectoraboutme.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
   align-items: center;
    padding-left: 68px;
    padding-right: 68px;
}
.photo img{
    height: 300px;

}
.navbar{
    width: 90%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    height: 48px;
}
nav{
    width: 409px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.section{
    background-color:white;
    height: 80vh;
}
.box{
    height:80vh;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 25px;
    margin-right: 25px;
}
.mail{
    display: flex;
   align-content: center;
}
.tel{
    display: flex;  
    align-content: center;
}
.mail a{
    margin-top: 4px;
    margin-left: 10px;
}
.tel a{
    margin-top: 4px;
    margin-left: 10px; 
}
.mail img{
    height: 30px;
    width: 30px;
}
.tel img{
    height:30px;
}
.info{
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
}
p{
    color: rgb(65, 65, 65);
    font-family: "SF-Compact-Rounded-Regular";
    margin-top: 25px;
    height:200px;
    margin-bottom: 10px;
}
.contact-info{
    font-size: 20px;
    color:#4B5320;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.contact-info a{
    color:#4B5320;
}
footer{
    background-color: #4B5320;
    height: 151px;
    display: flex;

}
.footer{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.logos-rrss{
    width: 92px;
}
.logos-rrss img{
    width: 34px;
}
.logo-footer img{
    padding-left: 40px;
    width: 100px;
}


@media only screen and (max-width: 414px) {
    
    main{
    padding-top: 52px;
}
    html {
        overflow-x: hidden;
    } 
    header{
        width: 414px;
        background-color:white;
        opacity: 0.9;
        height: 52px;
        display: flex;
        position: fixed;
        z-index: 1;

    }
    .navbar{
        max-width: 414px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: center;
    }
    nav{
        display: flex;
        width: 100%;
        justify-content:flex-end;
        margin:  10px;
    }
     .home{
      display: none;
    }
    .about-me{
      display: none;
     }
    .projects{
     display: none;
    }
    .photo{
        height: 250px;
        margin-top: 40px;
        background-size: contain;
        padding: 0px;
    }
    .photo img{
        height: 200px;
    }
    .contact{
        color: #4B5320;
        background-color:#F6F6F6;
        outline: none;
        border-radius: 30px;
        width: 57px;
        height: 20px;
    }

    .home{
        color:#4B5320 ;
    }
    .logo{
        display: none;
    }
    .mobile-logo{
        display:flex;
        width: 49.48px;
        height: 24.32;
    }
    .section{
    height: 90%;
    }
    .box{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    .info{
        margin-top: 30px;
    }
   img{
        width: 30vh;
    }
    .contact-info{
        background-color: #4B5320;
       padding-left: 30px;
       padding-right: 30px;
       height: 90%;
       border-radius: 10px;
       display: flex;
       justify-content: space-evenly;
    }
    .contact-info a{
        color: white;
    }
    .mail img{
        height: 10px;
    }
    .tel img{
        height: 10px;
    }
    .mail img{
        fill: white;
    }
    footer{
        height: 40px;
    }
    .logo-footer{
        display: none;
    }
    .footer{
        justify-content: flex-end;
    }
    .logos-rrss img{
        width: 24px;;
    }
}