@font-face {
    font-family: "SF-Compact-Rounded-Bold";
    src: url("../fonts/SF-Compact-Rounded-Bold.otf");
  }
@font-face {
    font-family: "SF-Compact-Rounded-Light";
    src: url("../fonts/SF-Compact-Rounded-Light.otf");
  }
  @font-face {
    font-family: "SF-Compact-Rounded-Regular";
    src: url("../fonts/SF-Compact-Rounded-Regular.otf");
  }
  @font-face {
    font-family: "SF-Compact-Rounded-Medium";
    src: url("../fonts/SF-Compact-Rounded-Medium.otf");
  }
.mobile-logo{
    display:none;
}
.mobile-menu{
    display: none;
}
body{
    overflow-x: hidden;
}
main {
      max-width: 1440px;
      margin: auto;
  }
img{
    object-fit: cover;
}
.p-last-projects{
    color:black ;
}
h1{
    font-size:20px;
    font-family:"SF-Compact-Rounded-Medium";
    color: white;
}
h2{
    font-family:"SF-Compact-Rounded-Bold";
    font-size:48px;
    color: white;
    margin-top:11px;
}
h3{
    font-family:"SF-Compact-Rounded-Medium";
    font-size:36px; 
    color: white;
}
h4{
    font-size:18px;
    font-family:"SF-Compact-Rounded-Medium";
    color: white;
}
p{
    font-family:"SF-Compact-Rounded-Regular";
    font-size:16px; 
    margin-top: 5px;
    color: white;
}
a{
    font-family:"SF-Compact-Rounded-Regular";
}
#h3-unic{
    color: black;
    margin-bottom: 8px;
    margin-left: 120px;
}
.about-me{
    text-decoration: none;
}
.contact{
    text-decoration: none;
}
.projects{
    text-decoration: none;
}
.about-me:hover{
    color:#99A06F;
}
.projects:hover{
    color:#99A06F;
}
.contact:hover{
    color:#99A06F;
}
a{
    font-size: 16px;
    color: #ffffff;
}
a:hover {
    color: #f4f4f4;
}

button {
    font-family:"SF-Compact-Rounded-Medium";
    font-size: 18px;
    background-color:white;
    color: #4B5320;
    outline: none;
    border-radius: 42px;
    width: 111px;
    height: 37px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;

}

button:hover {
    cursor: pointer;
    background-color:#4B5320;
    color:white;
}

.secondary-button{
    font-family:"SF-Compact-Rounded-Medium";
    font-size: 18px;
    color: #4B5320;
    outline: 3px;
    width: 177px;
    height: 44px;
    border: solid;
    border-radius: 100px;
    border-color:#4B5320;
    margin: 25px;
}
.secondary-button:hover {
    cursor: pointer;
    background-color:#4B5320;
    color:white;
    
}

header{
    background-color: #4B5320;
    width: 100%;
    height:84px;
    display: flex;
    position: fixed;
    align-items: center;
    z-index: 1000;
}
.navbar{
    width: 90%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 100px;
    height: 48px;
}
nav{
    width: 409px;
    display:flex;
    justify-content: space-between;
}
.intro-info{
    background-image: url("../images/Vector.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1152px 650px;
    height:85vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.info-foto{
    display: flex;
    width: 950px;
    align-items: center; 
}
.info-line{
    margin-left: 20px;
}
.button-intro{
    margin-top: 15px;
}
.button-intro:hover{
background-color:#99A06F ;
}
.info-1{
    display:flex;
    flex-direction: column;
    margin-left: 10px;

}
.info{
    margin-left: 10px;
}
.foto{
    align-self:flex-start;
}
.project{
    background-color:#99A06F ;
    display:flex;
    height: 370px;
    margin-bottom: 45px; 
}
.project-special{
    background-color:#99A06F ;
    display:flex;
    flex-direction: row-reverse;
    height: 370px;
    margin-bottom: 45px;
}
.project-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left:120px ; 
    padding-right:120px ;
}

.project-img{
    width: 50%;
}
img{
    width: 100%;
}

.project-h4{
    margin-top: 10px;
}
.contact-me{
    background-color:rgba(235, 210, 185, 0.44) ;
    height: 238px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
footer{
    background-color:#4B5320 ;
    height: 151px;
    display: flex;
    width: auto;
    flex-wrap: nowrap;
    justify-content:space-between ;
    align-items: center;
    margin-top: 45px;
}
.footer{
    width: 90%;
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
footer nav{
    display: none;
}
.logos-rrss{
    width: 92px;
    display: flex;
justify-content: space-between;
}
.last-projects{
    height: 76px;
    display: flex;
    justify-content: flex-start;
    margin-left:134px ;
    margin-bottom: 20px;
}
.last-project-info{
    margin-left: 10px;
}

@media only screen and (max-width: 414px) {
    html {
        overflow-x: hidden;
    } 
   
  button{
      width: 114px;
      height: 35px;
      font-size:16px;
  }
  .secondary-button{
    width: 114px;
    height: 35px;
    font-size:16px;
    margin-top: 25px;
  }
    header{
        width: 414px;
        background-color:white;
        opacity: 0.9;
        height: 52px;
        display: flex;
        position: fixed;
    }
    .navbar{
        max-width: 414px;
        width: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: center;
    }
    nav{
        display: flex;
        width: 100%;
        justify-content:flex-end;
    margin:  10px;
    }
     .home{
      display: none;
    }
    .about-me{
      display: none;
     }
    .projects{
     display: none;
    }
    .contact{
        color: #4B5320;
        background-color:#F6F6F6;
        outline: none;
        border-radius: 30px;
        width: 57px;
        height: 20px;
    }

    .home{
        color:#4B5320 ;
    }
    .logo{
        display: none;
    }
    .mobile-logo{
        display:flex;
        padding: 10px;
    }

    .project{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
     }
    .project-special{
        height: auto;
        display: flex;
        flex-direction: column-reverse;
    }
    
    .project-info{
        width: 90%;
        margin-top: 20px;
        margin-left: 20px;
        padding-right: 20px;
    }
    .project-img{
    width: 100%;
    }
    .project-button{
        margin: 20px;
    }

     .intro-info{
        background-size: 354px 270px;
        height:270px ;
        padding-top:50px;
    
    }
    h1{
        font-size:16px;
    }
    h2{
        font-size:20px;
        margin-top:1px;
    }
    h3{
        font-size:18px; 
    }
    h4{
        font-size:15px;
    }
    p{
        font-size:14px; 
        margin-top: 2px;
    }
    .info-foto{
        display: flex;
        width: 300px;
        align-items: center; 
    }
    .info-line{
        width: 300px;
        margin-left: 0px;
    }
    #h3-unic{
        margin-left: 25px;
    }
.button-intro{
    align-self: flex-end;
}
.last-projects{
   display: none;
}
.contact-me{
    height: 150px;
}
.logos-rrss{
    width:60px;
}
.logos-rrss img{
    width: 24px;
    margin:auto;
}
footer nav{
    display: none;
}
footer{
    height: 40px;
    display: flex;
    justify-content: center;
}
.footer{
    display: flex;
    justify-content: flex-end;
}

}